{% extends 'base.html' %}
{% block title %}Client{% endblock title %}
{% block css %}

<style>
  .box {
    margin-top: 5px;
    padding: 8px 0;
    border-radius: 4px;
  }
  #box1{
    background-color: #b5b1ff80;
  }
  #box2{
    background-color: #b1ffd3b5;
  }
 


  button[type="submit"] {
    display: block;
    margin: auto;
  }

  .add-icon {
    width: 23px;
    filter: invert(1);
    
  }

  .client{
    background: #a3a3ff;
  }

</style>

{% endblock css %}
{% block body %}


{% block client %}show{% endblock client %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form method="post" action="/client/createclient/">    {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Client Name</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">

          </div>

          <div class="mb-3">
            <label for="company" class="form-label">Client Company</label>
            <input type="text" name="company" class="form-control" id="company" placeholder="Company Name">
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label" placeholder="Company Name">Client Phone</label>
            <input type="text" name="phone" class="form-control" id="phone">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label" placeholder="Company Name">Client Email</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>


      </div>

    </div>
  </div>
</div>

<div class="container">
  <h2 class="my-4">Client Details</h2>

  <div class="container text-center">
    <div class="row d-flex justify-content-between">
      <div class="col-md-2 box" id="box1">
        Total Clients
        <h3>{{totalClients}}</h3>
      </div>
      <div class="col-md-2 box" id="box2">
        Current Client
        <h3>{{currentClients}}</h3>
      </div>

      <div class="col-md-2 box" id="box3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img class="add-icon" src="/static/img/add.png"alt="My image"> ADD NEW CLIENT</button>
      </div>
    </div>
  </div>
</div>




{% endblock body %}